[2016-07-28 18:35] jyee opened #12 "Metadata CSV Header"
Update the rake skeleton so that the metadata.csv has a header row.

[2016-07-29 22:04] jyee commented on #12
Closing this. See PR at https://github.com/DataDog/datadog-sdk-testing/pull/12

[2016-07-29 22:04] #12 closed

[2016-09-15 16:08] technovangelist opened #16 "problem with setup_env"
here is what i see when running `rake setup_env`:

[code]

[2016-09-15 16:09] technovangelist commented on #16
not sure if its related, but then the next command gets me:
[code]

[2017-01-04 22:53] gmassanek opened #19 "`rake setup_env` issue"
I'm getting an error setting up the environment. Looks like an underlying gem is failing?

[code]

[2017-01-09 13:38] lastmikoi commented on #19
Ran into the same issue, apparently one of the underlying gem is making use of a gone feature of the `rake` dependency.

Following https://stackoverflow.com/questions/35893584/nomethoderror-undefined-method-last-comment-after-upgrading-to-rake-11#35893625 I edited the Gemfile to use a pre-11.0 `rake` and the `setup_env` step seems to be working again.

[2017-01-09 13:52] lastmikoi opened #20 "`setup_env` fails when system Python is not `2.7`"
Using Archlinux, where `/usr/bin/python` is a symlink to `/usr/bin/python3`, the `setup_env` step is failing with the following error:

[code]

Apparently this is caused by the `datadog-sdk-testing` ruby gem calling `python` directly and not a more explicit version: https://github.com/DataDog/datadog-sdk-testing/blob/master/lib/tasks/sdk.rake#L22

This could be solved on the aforementioned gem by

[2017-01-12 14:31] lastmikoi opened #21 "Unit of measure: Celsius"
I am currently working on an integration for a hardware RAID controller that supports temperature monitoring, and as such I would find useful to be able to use a temperature unit in the `metadata.csv`'s `unit_name` medatada.

Such an unit should be expressed in `°C`, or Celsius.

[2017-01-18 20:02] lypnol opened #23 "rake version"
I think you should pin the rake version to `< 11.0` because this error
[code]
appears everywhere, even in the ci test which will cause failure.

[2017-01-23 18:53] #20 closed

[2017-01-30 20:02] #23 closed

[2017-03-21 23:23] truthbk opened #54 "[snmpwalk] SNMP v3 not supported"
SNMP v3 is not supported. In general snmpwalk does support it, so this is definitely a feature worth considering.

[2017-04-28 19:37] stamak opened #60 "corosync/pacemaker support"
It would be nice to have corosync/pacemaker support ;)

[2017-07-05 14:12] truthbk opened #71 "[CI] `hbase_master` and `hbase_regionserver` tests broken"
Hi @everpeace!

Currently the CI is broken for the `hbase` tests. Failing with the following error:

[code]

Are you aware of this issue? Was it working earlier and did it stop all of a sudden? If you know what may be going on, and could fix, that would be great. I know debugging Travis issues is a pain sometimes, so please let me know if I can help with anything. Also, if you don't have the bandw

[2017-07-10 02:02] everpeace commented on #71
@truthbk @jeremy-lq sorry for delayed response. I'll look into this.  The error looks connection error to jmx server.  it may be a problem in hbase cluster configuration for testing.

[2017-07-10 03:44] everpeace commented on #71
I opened a wip pr (#74) to fix this issue.

[2017-07-14 17:16] #71 closed

[2017-07-25 16:54] #16 closed

[2017-08-02 16:50] amitdaniel86 opened #78 "can't see metrics for hbase_regionserver integration"
**Output of the [info page](https://help.datadoghq.com/hc/en-us/articles/203764635-Agent-Status-and-Information) **

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
cloud provider - AWS
OS : CentOS release 6.8 (Final)

**Steps to reproduce the issue:**
1. just trying to get the hbase regionservers metrics .

**Describe the results you received:**
Empty metrics

[2017-08-15 20:08] jensendw commented on #78
@hush-hush @masci
Is there any further information we can provide you for this to assist in testing.  We are seeing the following in the jmxfetch.log
[code]

[2017-08-15 20:12] jeremy-lq commented on #78
@everpeace is the maintainer for this integration and may also be able to provide some guidance.

[2017-08-17 05:05] everpeace commented on #78
@amitdaniel86 @jensendw sorry for my absence.

Those `13 metrics` would be `jvm` metrics.  Usually, more metrics should be collected.

To dig a reason,

- Would you mind making sure that your __regionserver__ is up and jmx enabled on the port of `9010`.
- Could you share those below??
    - the output of `sudo /etc/init.d/datadog-agent jmx list_collected_attributes` and `sudo /etc/init.d/datadog-a

[2017-08-17 08:13] amitdaniel86 commented on #78
@everpeace @jensendw
Thanks for your response let me add all the details .

Hbase version :

[code]
[code]
hbase_regionserver.yaml file

[code]

this is the java variables for jmx :

`-Dcom.sun.management.jmxremote.port=9010 -Dcom.sun.management.jmxremote.rmi.port=9010 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
`
I hope that's enough .

[2017-08-17 09:33] everpeace commented on #78
@amitdaniel86 Thanks for sharing your information.

Your configuration looks no problem.  Then, I would like to inspect your reginoserver is up healthy or not.

- Could you share the result `status 'detailed' in hbase shell??
- Would you mind adding `-Dcom.sun.management.jmxremote=true` to jvm argument??

[2017-08-17 09:54] amitdaniel86 commented on #78
@everpeace

For the `status 'detailed'` command i can see a lot of output but in the end of the output i can see that i have 2 dead servers :

[code]
do you still want that i'll add the : `-Dcom.sun.management.jmxremote=true`

[2017-08-17 09:57] everpeace commented on #78
@amitdaniel86 ok, is the server having problem in this integration module dead or live??

If the server is live, I would like you to try adding `-Dcom.sun.management.jmxremote=true`.
Otherwise, you would try to spawn regionserver up healthily.  The topic is beyond this integration module I think.

[2017-08-17 10:50] amitdaniel86 commented on #78
Yep .

6 live servers
    `<HOST>.origami42.com:60020 1486470097774`

so the server is live .

I'm going to add` -Dcom.sun.management.jmxremote=true `and i'll update you .

[2017-08-17 11:01] everpeace commented on #78
@amitdaniel86 Thanks,  waiting for your updates.

after adding `-Dcom.sun.management.jmxremote=true`, could you share the output of `/etc/init.d/datadog-agent jmxlist_not_matching_attributes`??

[2017-08-17 13:03] everpeace commented on #78
@amitdaniel86 additional FYI,

If you configured regionserver's WebUI(usually listening port `60030`), you can dump all metrics by accessing `http://<regionserver_host>:60030/jmx/`.  You should see MBean infos something like,

[code]

[2017-08-17 13:08] amitdaniel86 commented on #78
@everpeace

Tried to change the port but i'm getting another error when running datadog-agent info

[code]

but if i'm running curl command :

[code]

[2017-08-17 13:22] everpeace commented on #78
@amitdaniel86 port `60030` is http port, not jmx port.  So port setting in your  `hbase_regionserver.yaml` should be ok with `9010`.

hmmm, your regionserver looks healthy and emits `name=RegionServer` metrics....  And datadog agent cannot collect jmx metrics....  it's wired...

Sorry for your inconvenience.  Would you mind sharing the output of `sudo /etc/init.d/datadog-agent jmx list_everything`

[2017-08-17 13:23] amitdaniel86 commented on #78
@everpeace

Got it .

This is the output :

[code]

[2017-08-17 13:27] everpeace commented on #78
@amitdaniel86 Thanks for sharing the output!  finally I might specify your root cause!?

In your env, zookeeper server is perhaps collocated with regionserver??  Maybe port 9010 is conflicted with zookeeper's jmx port??

[2017-08-17 13:35] amitdaniel86 commented on #78
Bingo ! looks like you're right !

now i can see that port 9010 is the JMX for zookeeper and not for the hbase .
you can probably close this ticket i'm going to fix the jmx for hbase .

Really sorry about all the questions but thanks for finding the solution for me .

[2017-08-17 13:37] everpeace commented on #78
@jeremy-lq I'm gonna close this issue because it has been resolved!

[2017-08-17 13:38] everpeace commented on #78
@jeremy-lq @amitdaniel86 I couldn't close this issue.  could one of you guys kindly close this??  Thanks!

[2017-08-17 13:39] #78 closed

[2017-08-17 13:49] everpeace commented on #78
Thanks Amit for closing this issue!

[2017-08-17 14:25] jeremy-lq commented on #78
Thanks @everpeace!

[2017-08-25 17:32] jeremy-lq commented on #19
Closing, as this issue was fixed by PR#24.

[2017-08-25 17:32] #19 closed

[2017-08-28 15:03] jeremy-lq commented on #60
As https://github.com/DataDog/integrations-extras/pull/61 has been closed as stale, closing this issue.

[2017-08-28 15:03] #60 closed

[2017-10-24 13:01] pkleanthous opened #81 "Can't create a Development environment on Ubuntu 16.04"
Hi guys,

Tried to follow the steps from your guide: https://docs.datadoghq.com/guides/integration_sdk/
I'm getting the following error:
[code]
Development envriroment details:
Vagrant box: bento/ubuntu-16.04

Commands to reproduce it:
* sudo -i
* apt-get install ruby-full
* cd ~/integrations-extras
* gem install bundler
* bundle install
* rake setup_env

[2017-10-25 12:56] jeremy-lq commented on #81
@pkleanthous, I've verified those commands work on stock Ubuntu 16.04 and also spun up a bento/ubuntu-16.04 Vagrant and everything worked as expected. It's possible you're not using the version of rake shipped by default or have made other system changes that are causing an issue. Are you able to reproduce the issue on a unmodified instance?

[2017-10-26 09:04] pkleanthous commented on #81
Hi @jeremy-lq please see my console output below. I run those commands on a new  bento/ubuntu-16.04 box.

apt-get install ruby-full
ruby -v
ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]

cd to ~/integrations-extras

gem install bundler
[code]

bundle install
[code]

rake setup_env
[code]

source venv/bin/activate

rake generate:skeleton[my_integration]
[code]

[2017-10-26 16:28] jeremy-lq commented on #81
Does running `bundle exec rake generate:skeleton[my_integration]` fix the issue?

[2017-10-26 16:38] pkleanthous commented on #81
@jeremy-lq

it fails at a later stage

bundle exec rake generate:skeleton[my_integration]

[code]

[2017-10-26 16:40] jeremy-lq commented on #81
That should result in a working `my_integration` directory with a skeleton integration. Does it not?

[2017-10-26 16:44] pkleanthous commented on #81
yes, it creates the `my_integration` directory. How can I verify that it has the right content when the command finishes with an error?

[2017-10-26 16:54] jeremy-lq commented on #81
The errors you're seeing are the result of supporting multiple versions of sed (although I agree that we need to clean this up a bit. The SDK is fairly new). If for example, your README contains `my_integration` and not `skeleton` then you should be good to start your integration.

[2017-10-26 16:56] pkleanthous commented on #81
Thanks @jeremy-lq  for the info

[2017-10-26 16:57] #81 closed

[2017-12-04 03:17] irabinovitch commented on #21
@jeremy-lq Can you look into this one? See Metrics Metadata in the internal wiki or ping Yann for pointers?

[2017-12-04 03:17] irabinovitch commented on #21
@lastmikoi Apologies for the delay. Did you end up sending a pr for the RAID integration?

[2017-12-06 08:13] lastmikoi commented on #21
@irabinovitch I've moved on other things in the meanwhile and did not take the time to send a PR for the RAID integration, I've forwarded the information to the person now taking care of it at my former company.

No worries about the delay, everything has priorities :)

[2018-01-03 00:19] danielkasen opened #96 "Filebeat and dd-agent permission issues"
So, I'm trying to use the filebeat integration and am running into an permissions problem. Filebeat by default runs as root because it basically will need to read every log file. And consequently the dd-agent runs as dd-agent. So I'm curious as to how people are dealing with the permissions issue for the registry file since it's root/root 0600 I'd love to use this integration but you can't just ch

[2018-02-12 22:29] jeremy-lq commented on #21
Thanks for the patience @lastmikoi. We just merged a PR for this.

[2018-02-12 22:29] #21 closed

[2018-02-20 17:27] callafeucht opened #117 "dd-check-storm yum package missing"
Some engineers at my company are interested in using the [Datadog Storm integration](https://docs.datadoghq.com/integrations/storm/), but we cannot find the `dd-check-storm` yum package in the [Datadog yum repo](https://yum.datadoghq.com/). Is this integration still being maintained by anyone?

[2018-02-20 17:51] jeremy-lq commented on #117
@callafeucht We don't currently package `integrations-extras`, but the Storm check is maintained and can be installed via GitHub. I'll also ensure the docs are updated to reflect this. Note that we may package `integrations-extras` in the future based on demand. If you have any other questions, let us know.

[2018-02-20 17:51] #117 closed

[2018-02-20 17:52] callafeucht commented on #117
Thanks, @jeremy-lq!

[2018-02-20 19:53] callafeucht commented on #117
One further question -- if installing the check from the GitHub repo, should it be as simple as a wget of the `check.py` file, ensuring it ends up in the `${dd-agent-home}/agent/checks.d` directory?

[2018-02-20 21:00] jeremy-lq commented on #117
`storm.py` and `storm.yaml` in the proper directory will work. The goal is for all checks to be `pip` installable in the near-to-mid term future.

[2018-05-01 23:38] lachlancooper commented on #96
A new option, `registry_file_permissions`, has been [added in filebeat 6.3](https://www.elastic.co/guide/en/beats/filebeat/6.3/configuration-general-options.html). Once it's released, setting a mode of 0644 should allow this check to work.

[2018-05-12 18:01] ofek commented on #96
@lachlancooper Thanks for the info!

@danielkasen Can you please confirm the new option resolves your issue?

[2018-05-12 19:15] danielkasen commented on #96
I'm still waiting on the 6.3 release, but this should solve the problem. Thank you.

[2018-05-12 19:15] #96 closed

[2018-06-07 13:03] martonsz opened #149 "[Filebeat] conf.yaml.example is invalid"
The file `conf.yaml.example` for the [filebeat integration](https://github.com/DataDog/integrations-extras/blob/master/filebeat/conf.yaml.example) is invalid.

If I understand the source code correctly it should be something like this:

[code]

[2018-06-07 13:10] martonsz opened #150 "[Filebeat] Error when parsing the registry file"
I get the following error when I try to use the [filebeat integration](https://github.com/DataDog/integrations-extras/tree/master/filebeat)

Error shown when running `agent status`

[code]

# System

Google Kubernetes Engine - Kubernetes 1.10.2-gk.3
OS: Container-Optimized OS (Chrome OS)
Datadog agent: 6.2.1-jmx

# My registry file

The registry file that the filebeat integration tried to parse.

[2018-06-20 18:09] danielkasen opened #167 "Issues running on filebeat 6.3.0"
It would appear that the client doesn't want to work on 6.3.0 now that you can fix the registry permissions. You now get this error in the output:

Example of my registry:

`[
  {
    "FileStateOS": {
      "device": 51713,
      "inode": 33246
    },
    "type": "log",
    "ttl": -1,
    "timestamp": "2018-06-20T17:36:57.928067509Z",
    "offset": 0,
    "source": "/var/log/ansible-pull.log"
  },

[2018-06-20 18:47] danielkasen commented on #167
Don't think I can do PR for this repo but this is a quick fix:

[code]

[2018-06-27 11:20] pratiksarkin opened #170 "HBase Integration : check.py file Link broken, redirects to conf.yaml.example"
The link to `check.py` file required for HBase master integration is broken.
Redirects to `conf.yaml.example` file.

[2018-07-26 10:05] #170 closed

[2018-08-11 13:21] dmitrievav opened #188 "could not convert string to float: neo4j-kernel, version: 3.3.5,69f246fab87bc58a931d27cfa5ec5c35f21b95fa"
**Output of the [info page](https://docs.datadoghq.com/agent/faq/agent-commands/#agent-status-and-information)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

I added `self.log.info("doc: %s" % (doc))` to see the original value we trying to convert:

[code]

**Steps to reproduce the issue:**

Followed setup instructions from here:
https://docs.datadoghq.com/

[2018-08-27 09:23] arnoldyahad opened #199 "no eviction metrics"
[code]

it worked before we updated this check ( we used the code from 2016)

[2018-09-03 02:42] platinummonkey commented on #117
@callafeucht 👋 maintainer of the storm integration here, would love any feedback you have on this integration!

[2018-09-04 14:03] callafeucht commented on #117
@platinummonkey I'll defer to @aldwinb, one of our devs who works on our storm implementations

[2018-10-23 19:35] danielkasen opened #216 "Filebeat 6.3.2 and Datadog 6"
I don't think this integration is working quite right as this is only returning the registry file information and the GAUGE_METRIC_NAMES but none of the INCREMENT_METRIC_NAMES seem to have any response when I run the check:
`datadog-agent check filebeat --check-rate`

It appears that everything is getting flagged in this block:

[code]

And I should be matching at least some metrics:

[code]

[2018-10-23 23:11] danielkasen commented on #216
It appears if I hardcode a dict for self._previous_increment_values then the metric starts working. But obviously that's not the desired state. This part looks suspect:
[code]

[2018-10-24 21:51] danielkasen commented on #150
This should be fixed with the newest version. Since it appears to drop the itervalues call.

[2018-11-19 10:01] martonsz commented on #150
This is fixed in https://github.com/DataDog/integrations-extras/pull/189

[2018-11-19 10:01] #150 closed

[2018-12-05 14:08] Xorima opened #240 "Management of Community Integrations"
Hi,

I am currently one of the community maintainers for your integrations (specifically event store). I want to start a conversation around how do we know when issues or PR are added to the codebase for items we are meant to be a maintainer for, and additionally how do new contributors know who to inform or reach out to for issues on their integrations.

I would like to suggest we move to using t

[2018-12-05 15:05] jeremy-lq commented on #240
@Xorima, thanks for the feedback. I think CODEOWNERS makes sense here, and will check with the team on getting it implemented.

[2018-12-06 07:44] masci commented on #240
#241 was merged, CODEOWNERS file is now available

[2018-12-06 08:42] Xorima commented on #240
Happy with this, thank you very much

I have requested mine be moved to use my username simply to reduce spam into my mailbox :)

Please close this issue if appropriate?

[2018-12-06 14:31] jeremy-lq commented on #240
I've updated the default group (which was missing the org). From the docs:

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
/docs/ @doctocat

I believe we actually do want the latter.

[2018-12-07 21:40] #240 closed

[2018-12-20 04:08] ofek commented on #216
@danielkasen Thank you for testing the PR! Out of curiosity are you testing with the `check` command?

[2018-12-20 21:48] danielkasen commented on #216
Yea running this:
`datadog-agent check --check-rate filebeat`
I only get these metrics

[code]

[2019-01-03 17:04] danielkasen commented on #216
Any movement on this? I've been dying to have these shipping metrics in DD :)

[2019-01-08 06:23] drakedevel opened #319 "Filebeat instance cache is broken (which breaks increment metrics)"
**Output of the [info page](https://docs.datadoghq.com/agent/faq/agent-commands/#agent-status-and-information)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
Filebeat version 6.5.1

**Steps to reproduce the issue:**
1. Install and configure filebeat check with:
[code]

**Describe the results you received:**
Metrics in `GAUGE_METRIC_NAMES` are reported to Dat

[2019-01-08 07:31] #319 closed

[2019-01-08 17:18] danielkasen commented on #216
Ahh sweet, looks like this is now working. Thanks so much! Looks like I need to update the metrics names for 6.5.1 but that's an easy fix.

[2019-01-08 17:22] danielkasen commented on #216
Here's the latest Keys btw:

[code]

[2019-01-08 19:40] danielkasen commented on #216
I had to add these metrics to get it all working btw:

[code]

[2019-01-08 19:40] #216 closed

[2019-02-27 17:14] danielkasen opened #347 "Convert deprecated COUNTER to Count Method"
So, I've been working with the Datadog team and it appears that using this older method leads to inconsistent metrics in their system and they recommend converting this from a COUNTER to a COUNT.

https://docs.datadoghq.com/developers/metrics/#metric-types

Basically this is causing inconsistent metrics getting shipped for the libbeat metrics. Any testing I could do to help please let me know.

[2019-03-11 16:07] flaviamissi opened #354 "float() argument must be a string or a number"
**Output of the [info page](https://docs.datadoghq.com/agent/faq/agent-commands/#agent-status-and-information)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
Debian 9, with neo4j integration (and running [ongdb/neo4j version 3.5.1](https://github.com/graphfoundation/ongdb/releases)).

**Steps to reproduce the issue:**
1. install the neo4j check with a valid

[2019-03-25 16:12] oldskool opened #378 "[eventstore] Unable to install integration"
I cannot get the eventstore integration installed correctly.
According to the README, it should just be a matter of installing the `dd-check-eventstore`, but I cannot find it anywhere. Not in the Datadog apt repository, nor on pip. Hence, running `apt-get install dd-check-eventstore` or `pip install dd-check-eventstore` renders no results.

As a fallback, I cloned this repository and ran `python s

[2019-03-25 16:50] oldskool commented on #378
After having a chat with @Xorima on Slack, the solution (if anyone else runs into this) was as follows:

- After running the `python setup.py install`, copy the entire `eventstore` directory that is in `build/lib.linux-x86_64-2.7/datadog_checks` to the Agent's `checks.d` directory. So you'll have something like `/etc/datadog-agent/checks.d/eventstore` with the Python files in it.
- Restart the Age

[2019-03-25 16:50] #378 closed

[2019-03-26 13:57] ofek commented on #378
@oldskool Thanks! We've updated the docs https://github.com/DataDog/integrations-extras/pull/375

[2019-03-26 22:36] themsquared opened #380 "This particular line should account for a non-string password."
https://github.com/DataDog/integrations-extras/blob/bbfb3d7875b813024c62f6f02baf3c333865d458/aqua/datadog_checks/aqua/aqua.py#L95

 Need to coerce this line to force both username and password to be passed as string. Otherwise, Aqua chokes on it with a 400 error as a badly formatted request.

[2019-04-05 05:33] xkrt opened #392 "Filebeat metric names"
Hi!

Not all metrics names from Filebeat integration under the same prefix. We have metrics:
`filebeat.*`
`libbeat.*`
`publish.events` (very generic name without prefix)
`registrar.*` (if I see this in Metrics Explorer - I have no idea that this metrics from Filebeat)

My proposal: move all metrics under "filebeat." prefix.
AFAIK every core-integration follows this rule.

[2019-04-12 20:24] nmuesch commented on #380
Looks like this has been resolved by your PR - https://github.com/DataDog/integrations-extras/pull/381 Thanks for that! I'll go ahead and close out this issue for now.

[2019-04-12 20:24] #380 closed

[2019-04-16 16:44] shanep2300 opened #417 "[neo4j] No connection adapters were found"
**Output of the [info page](https://docs.datadoghq.com/agent/faq/agent-commands/#agent-status-and-information)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
Linux CentOS

**Steps to reproduce the issue:**
1. `sudo datadog-agent check neo4j`

**Describe the results you received:**
Error seen above.

**Describe the results you expected:**
No errors and integr

[2019-04-16 18:50] shanep2300 commented on #417
Stupid mistake. Needed `http://` in front of url......

[2019-04-16 18:50] #417 closed

[2019-04-18 22:28] danielkasen opened #419 "Add offset to filebeat integration"
It would be useful to add something like this to the gauge:

                self.gauge('filebeat.registry.offset', offset,
                           tags=['source:{0}'.format(source)])

Since the stats api only gives you the compressed output bytes and you might want the additional non-compressed bytes.

[2019-04-25 02:34] benrudolph commented on #354
Also ran into this bug

[2019-05-08 10:33] hithwen commented on #354
Pinging maintainer @davidfauth about bug in neo4j integration ^

[2019-05-16 14:42] dabcoder commented on #199
Sorry about the delay. We are now officially supporting the `aerospike` integrations: https://github.com/DataDog/integrations-extras/tree/master/aerospike so feel free to send an email to support@datadoghq.com if you are still experiencing issues with it.

[2019-05-16 14:42] #199 closed

[2019-05-16 14:50] dabcoder commented on #188
Ping for the maintainer @davidfauth.

[2019-06-11 07:32] dabcoder commented on #354
@flaviamissi thanks for reporting this issue. Could you actually open a pull request?

On a side note, if I understand the issue, looping through each element of `doc['row'][1]` can result in getting non float values, thus indeed not being able to send those metrics. Handling this with an `ValueError` exception does seem to work, but would it not make sense to skip elements such as `neo4j.kernel.v

[2019-06-11 07:46] dabcoder commented on #354
... Actually, it looks like this referred to an older version of the check. This is now handled here: https://github.com/DataDog/integrations-extras/blob/d3aad6dde5a554f106fc39b66aba080464b66aba/neo4j/datadog_checks/neo4j/neo4j.py#L131-L134.

[2019-06-18 18:20] #354 closed

[2019-06-22 22:42] leviwheatcroft opened #462 "[nextcloud] not reporting any metrics"
**Output of the [info page](https://docs.datadoghq.com/agent/faq/agent-commands/#agent-status-and-information)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

Debian 9, Digitalocean

**Steps to reproduce the issue:**
1. install datadog-agent
2. install nextcloud integration (following steps from [bind9 integration](https://github.com/DataDog/integrations-ext

[2019-07-01 09:05] hithwen commented on #462
Hallo, don't know if its relevant but you have some errors in your output:
[code]

[2019-07-02 14:27] eplanet commented on #462
Hello and thanks for reporting the issue. Could you attach your Datadog Nextcloud integration configuration here? Thanks.

[2019-07-02 22:00] leviwheatcroft commented on #462
Thanks for looking into this for me. I've since moved on to a different solution and uninstalled the client, so I'm unable to investigate further.

[2019-07-02 22:00] #462 closed

[2019-08-29 08:36] justsimplify opened #474 "doc['row'][1] can throw TypeError as well."
https://github.com/DataDog/integrations-extras/blob/5a7c5b9b84178b991c71ff11f0b081ab1e7eefea/neo4j/check.py#L138

In case doc['row'][1] is of **type** List, then float(value) will fail in base.py.
For example, in my case, it came as
`... { "row": [ "MemoryPools", [] ], "meta": [ null ] } ...`
from the HTTP call to **db/data/transaction/commit**.
And hence, it throws an error (TypeError).

This sho

[2019-09-07 23:20] abtreece opened #476 "AttributeError: 'module' object has no attribute 'tracemalloc_enabled'"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/?tab=agentv6#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
Have been getting this error from the `riak_repl` check after upgrading to datadog-agent version 6.13.0. More specific

[2019-09-08 03:14] ofek commented on #476
Hello @abtreece! `6.13` shouldn't ship that https://github.com/DataDog/integrations-core/blob/6.13.x/datadog_checks_base/CHANGELOG.md

Do you have some post-install step that upgrades `datadog-checks-base`?

[2019-09-08 03:19] abtreece commented on #476
Upgrading the datadog-agent removes the extras checks so we're re-installing the riak_repl whl. Is it possible that the pip install is upgrading it to latest versions?

[2019-09-08 11:50] ofek commented on #476
What command are you using to upgrade?

[2019-09-09 01:20] abtreece commented on #476
The command used was `/opt/datadog-agent/embedded/bin/pip install -I...` and I think we're getting "burned" by the -I (aka --ignore-installed). It is reinstalling `datadog-checks-base` as well because it's a dependency of `riak_repl`. Mystery solved.

[code]

[2019-09-09 01:21] #476 closed

[2019-09-09 02:09] ofek commented on #476
Ah, nice! You may interested in our new installation workflow: https://github.com/DataDog/integrations-extras/tree/master/riak_repl#installation

[2019-09-09 06:00] #474 closed

[2019-09-26 07:31] lowjoel opened #486 "Cannot install logstash integration"
Hello there,

While trying to install the Logstash integration, I'm getting:

[code]

The installation does work, but this confuses Ansible or whatever is invoking the install.

**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/?tab=agentv6#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

AWS, Ubuntu 16.04

**St

[2019-12-12 14:39] ChristineTChen commented on #486
Hi, I added the missing `MANIFEST.in` file that seems to fix the error https://github.com/DataDog/integrations-extras/pull/502. Can you try the integration again?

[2019-12-12 14:50] lowjoel commented on #486
Sweet! Let me give it a shot. Thanks @ChristineTChen

[2019-12-19 07:29] lowjoel commented on #486
It seems to be working! Thanks again @ChristineTChen

[2019-12-19 07:29] #486 closed

[2020-02-01 10:18] moleksyuk opened #530 "Python 2.7 Docker image SyntaxError: invalid syntax"
**Additional environment details (Operating System, Cloud provider, etc):**
According to official documentation I can install extras via docker:
https://docs.datadoghq.com/agent/guide/community-integrations-installation-with-docker-agent/?tab=docker

**Steps to reproduce the issue:**
1. Create Dockerfile with content:
[code]
2. Build image: `docker build -t moleksyuk/dockers:datadog-gnatsd-6.16.1

[2020-02-01 17:25] ofek commented on #530
Thanks for the heads-up! This is related to https://github.com/DataDog/integrations-core/pull/5512 cc @l0k0ms for doc update

Can you try replacing 2.7 with 3.8?

[2020-02-01 17:59] moleksyuk commented on #530
@ofek as I mentioned in `Additional information you deem important (e.g. issue happens only occasionally):` section it work with python 3.7. Also I can confirm it works with 3.8 as well.

[2020-02-01 19:22] ofek commented on #530
Thanks, I wanted to confirm 3.8 explicitly because of https://github.com/DataDog/datadog-agent/pull/4464

[2020-02-05 05:41] ofek commented on #530
Fixed 😄

[2020-02-05 05:41] #530 closed

[2020-02-11 09:05] gustav-ynghammar-wcar opened #540 "Permission error when running ddev"
Hi!

Cannot run ddev. Getting this:

Traceback (most recent call last):
  File "/usr/bin/ddev", line 7, in <module>
    from datadog_checks.dev.tooling.cli import ddev
  File "/home/ec2-user/.local/lib/python2.7/site-packages/datadog_checks/dev/tooling/cli.py", line 35
    echo_warning(f'Unable to create config file located at `{CONFIG_FILE}`. Please check your permissions.')

[2020-02-11 12:01] hithwen commented on #540
Hi @gustav-ynghammar-wcar, The reason you're getting that error is that ddev is no longer python 2 compatible. Make sure you install it using pip3.

[2020-02-11 12:01] #540 closed

[2020-02-11 12:26] gustav-ynghammar-wcar commented on #540
ah sorry, i also tried with pip3 and still get the same error.

[2020-02-11 12:41] gustav-ynghammar-wcar commented on #540
missed yum install python3-devel

[2020-03-24 19:34] shcallaway commented on #392
Also, the metrics above are not included in the [documentation](https://github.com/DataDog/integrations-extras/blob/master/filebeat/metadata.csv) for this check, which is confusing.

[2020-03-24 19:36] shcallaway commented on #392
Furthermore, the only_metrics option is said to be required ([here](https://github.com/DataDog/integrations-extras/blob/master/filebeat/datadog_checks/filebeat/data/conf.yaml.example#L21)), but in fact, it is not: https://github.com/DataDog/integrations-extras/blob/master/filebeat/datadog_checks/filebeat/filebeat.py#L166

[2020-03-24 19:49] shcallaway opened #568 "Filebeat using deprecated AgentCheck.increment and .decrement functions"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

**Steps to reproduce the issue:**
1. Install the Filebeat check in Datadog agent pod in Kubenretes
2. Register Filebeat check by adding Datadog autodiscovery annotations to Filebeat pod
3. Stream logs of Datadog a

[2020-03-26 11:28] hithwen commented on #392
Pinging @wk8 as filebeat maintainer

[2020-03-26 11:32] hithwen commented on #568
Hallo @shcallaway, integrations in this repo are community maintained. I can ping @wk8 as filebeat codeowner about this but code contributions are welcome too.

[2020-04-15 16:23] alekhrycaiko opened #582 "Allow root users to run lighthouse/puppeteer integration."
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**
[code]

From trying to launch lighthouse manually:
[code]

**Additional environment details (Operating System, Cloud provider, etc):**

- Datadog agent image.
- Docker

**Steps to reproduce the issue:**

1. Install Datadog Agent via Dockerfile pulling from datadog/agent:latest.
2. Install node.js/n

[2020-04-16 12:09] hithwen commented on #582
Pinging @ericmustin as lighthouse maintainer

[2020-04-16 12:23] ericmustin commented on #582
@alekhrycaiko , thank you for bringing this up, this extra's integration definitely needs to be brought up to speed with some added documentation/configuration options, especially for containerised environments. I will try to carve out some bandwidth for this on my side, will update here as soon as I can get a PR together.

[2020-04-16 14:20] alekhrycaiko commented on #582
Thanks for the very prompt responses @hithwen and @ericmustin
Let me know if there are any other details I can fill in that will help on your end.

[2020-04-28 10:11] kalilou opened #588 "Datadog Filebeat integration: Registry denied for datadog to read"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
Cloud provider: AWS
OS: CentOS 7
Datadog agent version: `Agent 6.13.0 - Commit: df8e880 - Serialization version: 4.7.1 - Go version: go1.11.5`

**Steps to reproduce the issue:**
1. Install Datadog agent
2. Setup fi

[2020-04-29 12:17] hithwen commented on #588
cc @wk8 as integration maintainer

[2020-04-29 17:27] wk8 commented on #588
Sorry @hithwen I no longer use Filebeat in my fleet, so I don't have anywhere to test any of this.

[2020-05-13 11:06] hithwen commented on #588
Hi @kalilou, integrations-extra repository is community driven. Since the integration maintaner is no longer maintaining it we have two ways forward:

1. Investigate the issue yourseld and submit a PR fixing the issue
2. Submit a request to [Datadog support ](https://www.datadoghq.com/support/) to adopt Filebeat as a core-integration in which case it will have official support including bugfixing.

[2020-05-25 11:01] #588 closed

[2020-05-27 07:08] ericmustin commented on #582
just to update, i believe @ian28223 work here on setup and config flags:

https://github.com/DataDog/integrations-extras/pull/594
https://github.com/DataDog/integrations-extras/pull/595
https://github.com/DataDog/integrations-extras/pull/600

resolves this and simplifies the setup process in general

[2020-05-27 13:32] #582 closed

[2020-06-08 18:11] therc opened #612 "[nvml] broken on p2 (K80) instances"
The check is making calls without attempting to catch exceptions. This fails on old K80 machines such as p2 instances, because some metrics are not supported:

[code]

[2020-06-08 18:34] #149 closed

[2020-06-08 18:37] ChristineTChen commented on #167
Closing PR as this issue is addressed in https://github.com/DataDog/integrations-extras/pull/189

[2020-06-08 18:37] #167 closed

[2020-06-08 19:58] cep21 commented on #612
Hi, are there other log messages?  Do you see "Unable to execute NVML function"?  What are the lines before and after?

I would expect that exception to be caught by https://github.com/DataDog/integrations-extras/blob/master/nvml/datadog_checks/nvml/nvml.py#L50

[2020-06-08 20:07] therc commented on #612
Unfortunately, that's all it spits out, at least according to Datadog logs, every 45s. A hacky workaround for now is to comment out lines 120-140.

[2020-06-08 20:12] cep21 commented on #612
If you add prints inside `NvmlCall.__exit__` do you see which path the code is taking, or which `return` is getting called?

[2020-06-08 20:14] therc commented on #612
Is the exception type pynvml.nvml.NVMLError, perhaps?
I can't easily add debug statements right now, but I'll give it a shot and report here.

[2020-06-08 20:16] cep21 commented on #612
May not be.  I see in your original report `    raise NVMLError(ret)` in the stack trace, so I would think this line would not fail
[code]

But I'm not super versed in python, so it was harder for me to test for real.

[2020-06-08 20:46] therc commented on #612
I think that might need to be `issubclass(exception_type, pynvml.NVMLError)`...

[2020-06-08 23:49] therc commented on #612
I created #613 which has a fix (in progress).

[2020-06-09 07:02] ofek commented on #612
Thanks @therc!

[2020-06-09 07:02] #612 closed

[2020-06-10 15:19] therc opened #615 "nvml metrics missing pod labels"
**Steps to reproduce the issue:**
1. Run check in a Kubernetes cluster

**Describe the results you received:**
Metrics are annotated with labels coming from the node (the agent does it), as well as the gpu number and pod name/namespace (coming from the check itself)

**Describe the results you expected:**
The above, plus some/all the pod's labels and others that the core Kubernetes checks usually

[2020-06-15 21:39] #392 closed

[2020-06-22 19:02] jason354007 opened #631 "How to write a custom check that requires you to execute that command as root user or sudo ?"
Is it possible to use a command that requires sudo privileges. For example, I have a custom check that uses the command xfs_quota.  If I run the custom script with sudo, it works. But when I run the same script using Datadog check substatus command, it complains about permission denied.

[2020-06-23 08:40] hithwen commented on #631
The agent does not run with sudo privileges, you would need to change this for it to be able to run privileged commands either by changing the privileges of the `dd-agent` user or by changing the user used to run the agent

[2020-06-23 09:38] jason354007 commented on #631
We manage the sudo using centrify in our project. So, dd-agent user was granted sudo permissions but it still doesn't solve my problem. For example:

$ sudo su - dd-agent;cat /var/log/messages
This account is currently not available.
cat: /var/log/messages: Permission denied

$ cat /etc/passwd|grep dd-agent
dd-agent:x:995:991:Datadog Agent:/opt/datadog-agent:/sbin/nologin

Is it possible to run ca

[2020-07-19 18:42] tirkarthi opened #650 "Importing ABC directly from collections will be removed in Python 3.10"
Use collections for Python 2 and collections.abc for Python 3

https://github.com/DataDog/integrations-extras/blob/7e676a2d256e142ddf4cb44ac11a6e590a502779/filebeat/datadog_checks/filebeat/filebeat.py#L148

[2020-07-29 11:32] #650 closed

[2020-07-29 12:04] hithwen commented on #54
@eparra SNMPv3 is supported by the [official SNMP integration](https://www.datadoghq.com/dg/monitor/snmp/?utm_source=Advertisement&utm_medium=GoogleAdsNetworkNon1stTier&utm_campaign=GoogleAdsNetworkNon1stTier-SNMP&utm_content=Network&utm_keyword=%2Bsnmp&utm_matchtype=b&gclid=EAIaIQobChMItP7R37Xy6gIVFWHmCh0X8gFiEAAYASAAEgIX-_D_BwE)

[2020-07-29 12:04] #54 closed

[2020-07-29 12:07] hithwen commented on #347
Hallo @danielkasen which integration are you referring to?

[2020-07-29 12:11] #615 closed

[2020-07-29 12:14] danielkasen opened #668 "Add offset to filebeat integration"
It would be useful to add something like this to the gauge:

                self.gauge('filebeat.registry.offset', offset,
                           tags=['source:{0}'.format(source)])

Since the stats api only gives you the compressed output bytes and you might want the additional non-compressed bytes.

[2020-07-29 12:27] FlorianVeaux commented on #631
Hey @jason354007 sorry for the delay

In order to run a command from a dd-agent check with sudo privileges, you should be able to do something like this:
https://github.com/DataDog/integrations-core/blob/75bf7a444809fba1208ac9b28b78599c5c01575e/process/datadog_checks/process/process.py#L240-L241
but make sure that the dd-agent user has passwordless sudo access.

One way to check this would be to f

[2020-12-03 22:09] davidlrosenblum opened #767 "Neo4j 4.x has a new HTTP API - the URLs have changed."
version_url = '{}:{}/db/data/'.format(host, port)
s/b at the root of the url so maybe..
version_url = '{}:{}'.format(host, port)

and then
check_url = "{}:{}/db/data/transaction/commit".format(host, port)
s/b
check_url = "{}:{}/db/<database name>/tx/commit".format(host, port)
see : https://neo4j.com/docs/http-api/current/actions/begin-and-commit-a-transaction-in-one-request/

I would do a PR if I

[2020-12-03 22:20] ChristineTChen commented on #767
Pinging @davidfauth help@neo4j.com as integration owner.

[2020-12-03 22:27] ofek commented on #767
Does s/b mean "should be"?

[2020-12-03 23:44] davidlrosenblum commented on #767
Yes the proposed syntax “should be”

David

On Dec 3, 2020, at 5:27 PM, Ofek Lev <notifications@github.com> wrote:

﻿

Does s/b mean "should be"?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/DataDog/integrations-extras/issues/767#issuecomment-738376318>,
or unsubscribe
<https://github.com/notifications/unsubscribe-au

[2020-12-22 18:41] withgod opened #784 "About building and distributing integrations.(request)"
Thank you very much for accepting my PR.

I immediately tried to install it in each environment, but I ran into a problem.

Our environment and that of our customers are independent, and there is no common build server or download repository.

Of course, we can build and upload to the repositories in each environment, but it's not eco system to build servers and download repositories for each envi

[2021-01-04 14:35] hithwen commented on #784
Hallo,
We build and distribute integrations. You and your customer can install it with the following command:

[code]

[2021-01-04 14:35] #784 closed

[2021-01-04 14:48] #631 closed

[2021-01-04 14:48] #347 closed

[2021-01-04 15:00] withgod commented on #784
ops, thanks!

[2021-01-07 20:39] CodyHunt6sense opened #786 "Bad hbase_master Metrics Configuration"
In the metrics configuration for the `hbase_master` integration, there is a problem with the string quoting for Datadog 6. This causes problems interfering with JMX when the integration is installed. Instructions for fixing the problem are in the file itself, but not in any supporting documentation:
https://github.com/DataDog/integrations-extras/blob/80fd8155fd0020705e31e84ecba14fd47cd7dbf9/hbase_

[2021-01-08 18:36] #786 closed

[2021-01-20 15:15] alexvetras opened #793 "A developper for SIOS Tecnology unable to install python wheel"
**Email 1:**
Hello,

I'm Tadashi, a developper for SIOS Tecnology. Now I'm trying to create Datadog Intergration, but I've been failing the last one step.

I succeeded to create a wheel following https://docs.datadoghq.com/developers/integrations/new_check_howto/?tab=configurationtemplate,
But I've failed then next install command.

The error message is the following.

sudo -u dd-agent datadog-age

[2021-01-20 15:33] ChristineTChen commented on #793
Hello! When installing the locally built wheel, can you make sure that you specify the path to the wheel. So if you're at the root of the integrations-extras repo, then the install path should look like:

[code]

[2021-01-22 00:37] numno1 commented on #793
The path seems to be correct.
I tried
`sudo -u dd-agent datadog-agent integration install -w appkeeper/dist/datadog_appkeeper-1.0.0-py2.py3-none-any.whl`
from the root, but I got the same error..

Of couse, the wheel file certainly exists.

[code]

[2021-02-01 10:12] hithwen commented on #793
Do you see the same result if running python as dd-agent user?

[2021-02-10 23:34] therc opened #803 "nvml check spams logs on non-GPU machines."
On non-GPU machines that lack the libnvidia-ml.so.1 library, the nvml check will fall with a very ugly stack trace that only spams logs.

[code]

It's much easier to use the same image and setup on all nodes, regardless of the hardware they might or might not have.
What's the quickest and cleanest way for a custom check to signal at runtime that it should be disabled? Presumably, this would occur

[2021-02-15 12:32] hithwen commented on #803
Pinging @cep21 as the integration maintainer

[2021-02-16 20:14] cep21 commented on #803
I agree.  We have a similar problem.  Currently, datadog does not support a way to configure "which nodes should run which checks".  I worry completely removing any error message will make it difficult to debug when the library is working incorrectly.

A good compromise would be to modify the check to emit a INFO (or WARN) message on startup if `NVMLError_LibraryNotFound` is raised, and turn itsel

[2021-02-16 20:21] therc commented on #803
I can write the code, but I'm not sure what the canonical way is for a check to turn itself off. I looked on both integrations-core and integrations-extras, but I couldn't find examples that did exactly that. @hithwen any ideas?

[2021-02-16 21:45] cep21 commented on #803
Rather than have the check officially turn itself off, it's maybe possible to short circuit the code.

Change this line https://github.com/DataDog/integrations-extras/blob/f36db547fe89a9fd40b5cd55c7b89bf33aa14ed1/nvml/datadog_checks/nvml/nvml.py#L77

[code]

Into something like this (pseudocode, but I think it should make sense)
[code]

If you can figure out a way to do the check_for_nvml_library

[2021-02-24 12:39] hithwen opened #812 "gnatsd_streaming integation tests broken"
The integration tests for gnatsd_streaming are broken. This is probably because they are pinned to `latest` docker image although I've tried with older images and that does not seem to solve the issue.

[2021-02-24 12:40] hithwen commented on #812
Pinging @jaredhoyt and @stephenprater as codeowners

[2021-02-25 14:25] arapulido opened #815 "Riak MDC Replication integration tests are failing"
Currently, the Riak integrations tests are failing:

https://dev.azure.com/datadoghq/integrations-extras/_build/results?buildId=48451&view=logs&j=865f42ac-e6b9-5935-9590-dcd55fa54eeb

Probably the integration and its tests need to be adapted to the newer version of the image, but for now, and to fix the tests, it would be good to point to a fixed label.

[2021-02-25 14:25] arapulido commented on #815
Pinging @abtreece as the codeowner

[2021-02-25 23:30] abtreece commented on #815
@arapulido I will dig into this tonight / this weekend

[2021-02-26 08:50] arapulido commented on #815
Great, thanks :)

[2021-03-01 02:22] abtreece commented on #815
@arapulido unsure what changed, if anything, but the tests did not fail for me locally and I looked at the most recent runs and Riak MDC Replication passed on both [20210227](https://dev.azure.com/datadoghq/integrations-extras/_build/results?buildId=48843&view=logs&j=865f42ac-e6b9-5935-9590-dcd55fa54eeb) and [20210228](https://dev.azure.com/datadoghq/integrations-extras/_build/results?buildId=4890

[2021-03-02 15:05] #812 closed

[2021-03-26 06:32] AhchimLee opened #832 "How to set instances: lists aws_pricing.d/conf.yaml ?"
Hi
I'm trying to set custom integration(aws_pricing) at an aws instance(linux).
The aws_pricing had installed successfully by follow shell command:  `sudo -u dd-agent -s /bin/bash -c 'datadog-agent integration install -t datadog-aws_pricing==1.0.0'`
but errors occured in `conf.d/aws_pricing.d/conf.yaml`  when restart datadog-agent.
conf.yaml:
[code]
error message:
[code]
How to setup conf.yaml fil

[2021-03-26 09:54] hithwen commented on #832
Your conf.yaml file needs to follow this format https://github.com/DataDog/integrations-extras/blob/master/aws_pricing/datadog_checks/aws_pricing/data/conf.yaml.example

[2021-03-27 10:20] AhchimLee commented on #832
You means create agent check instances configuration like below?
[https://docs.datadoghq.com/developers/write_agent_check/?tab=agentv6v7](https://docs.datadoghq.com/developers/write_agent_check/?tab=agentv6v7)

And I edited aws_pricing.d/conf.yaml :
[code]

But it doesn't work. (occured AWS Credential issue) :
[code]

I guess configure agent check could be update aws credentials, but how to use it

[2021-04-05 09:16] hithwen commented on #832
Pinging @@tsein-bc as the integration maintainer. @AhchimLee you can also find the maintainer's email on https://github.com/DataDog/integrations-extras/blob/master/.github/CODEOWNERS#L10

[2021-04-30 20:10] nitikornhlab commented on #767
wait for it.

[2021-05-06 13:37] #793 closed

[2021-05-17 08:00] rossigee opened #876 "Puma integration docs incomplete"
https://github.com/DataDog/integrations-extras/blame/master/puma/README.md#L20

It's unclear from the documentation on this page what `<INTEGRATION_VERSION>` means, or where to find a value for it.

[2021-05-17 10:44] hithwen commented on #876
For each integration you can usually find all versions in the changelog file https://github.com/DataDog/integrations-extras/blob/master/puma/CHANGELOG.md
Now, it seems PUMA has not been listed it but 1.0.0 is there.

You can install it with `sudo datadog-agent integration install -t datadog-puma==1.0.0`

[2021-05-17 10:44] #876 closed

[2021-05-20 00:16] Intrusionz3r0 opened #880 "Error to download datadog-aws_pricing"
Command: `C:\Program Files\Datadog\Datadog Agent\embedded>agent.exe integration install datadog-aws_pricing==1.0.0`

agent.exe integration install datadog-aws_pricing==1.0.0
[31mTraceback (most recent call last):[0m
[31m  File "C:\Program Files\Datadog\Datadog Agent\embedded3\lib\runpy.py", line 194, in _run_module_as_main[0m
[31m    return _run_code(code, main_globals, None,[0m
[31m  File

[2021-05-20 01:23] Intrusionz3r0 commented on #832
Pudiste solucionarlo ?

[2021-05-21 08:42] FlorianVeaux commented on #880
Hello,
As documented here: https://docs.datadoghq.com/integrations/aws_pricing/#installation and here: https://docs.datadoghq.com/agent/guide/community-integrations-installation-with-docker-agent/?tab=agentabovev68

You want to run

[code]

[2021-05-21 08:42] #880 closed

[2021-06-14 09:05] Deroin opened #909 "Logstash is missing DLQ metrics"
Back on Agent 5.x the logstash integration supplied a metric `logstash.pipeline.dead_letter_queue.queue_size_in_bytes`. With this you could easily monitor whether or not documents get rejected by logstash.

We are now in the process of upgrading to Agent 7.x and noticed, that the integration no longer reports this value. It would be great to get this feature back.

**Output of the [info page](http

[2021-06-14 09:14] hithwen commented on #909
Pinging @ervansetiawan as the logstash integration maintainer.
However if you look at the check history https://github.com/DataDog/integrations-extras/commits/master/logstash/datadog_checks/logstash/logstash.py it does not seem like the functionality has changed since it was developed. Also `logstash.pipeline.dead_letter_queue.queue_size_in_bytes` is not present on t[he list of metrics that integr

[2021-06-14 09:21] Deroin commented on #909
You're right, and after checking our side of this I noticed that we actually added this with a custom implementation to our 5.x agents. From the looks of it we simply added `"logstash.pipeline.dead_letter_queue.queue_size_in_bytes": ("gauge", "pipeline.dead_letter_queue.queue_size_in_bytes")` to the `PIPELINE_METRICS` hash.

If you want I can create a pull request with this change. If you don't wa

[2021-06-15 13:45] hithwen commented on #909
A PR will be welcomed :)

[2021-06-17 03:23] neofob opened #915 "Add support for filebeat version 7.x"
**Docker image:** custom docker image based on `datadog/agent:7.28.0` with  this added to the `Dockerfile` `RUN agent integration install -r -t datadog-filebeat==1.0.0`

Since filebeat version `7.x`, the registry file is moved to [directory format][0]. Therefore, the current config will not work as the registry is not in a single file format anymore.

[Snippet][1] from the config example for fileb

[2021-06-17 08:41] coignetp commented on #915
Hi, thank you for opening this issue
I'm pinging @wk8 as the maintainer of the check

[2021-06-22 03:03] ChristineTChen commented on #909
Closing this issue as the PR has been merged

[2021-06-22 03:03] #909 closed

[2021-06-24 17:53] JakeCooper opened #918 "LinkNotFoundError while installing datadog-traefik 1.0.0"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

GCP Debian 9

**Steps to reproduce the issue:**
1. Attempt to install datadog-traefik (sudo datadog-agent integration install -r datadog-traefik==1.0.0)

The following error appears

**Describe the results you rec

[2021-06-24 20:40] ChristineTChen commented on #918
Hi @JakeCooper,

It looks like you're missing the `-t` `--third-party` flag.
[code]

The following should succeed:
[code]

[2021-06-24 20:40] #918 closed

[2021-07-11 13:57] lchayoun opened #934 "Release latest neo4j integration"
The latest code in the neo4j integration is not released

[2021-07-12 08:57] hithwen commented on #934
This repo hosts community maintained integrations, you can create a release yourself by submitting a PR following these instructions https://datadoghq.dev/integrations-core/process/integration-release/#third-party or wait for the maintainer to do it.

[2021-07-19 16:32] csucu opened #936 "Unbound integration does not work with hostname"
Unbound integration does not accept hostname for the server address. It only works with ip addresses. This is because unbound expects the format ip[@port]. It would be useful to accept both, the address can be resolved on the integration side.

[2021-07-28 10:37] #934 closed

[2021-08-27 03:31] ioquatix opened #969 "Expose more puma metrics."
Hello,

We are debugging issues with puma utilisation.

It's not clear what metrics will help us understand whether we have enough workers & threads.

There are some additional metrics here which seem like they would help, e.g. the number of busy threads.

https://github.com/puma/puma/blob/e71b60cd32756ddcab8048dd4d05966377ad8273/lib/puma/thread_pool.rb#L93

Is it possible to expose these?

[2021-08-30 14:20] hithwen commented on #969
Pinging @plasticine as the integration maintainer

[2021-08-30 14:24] hithwen commented on #936
Pinging @dbyron0 as the integration maintainer

[2021-09-02 19:27] yzhan289 commented on #815
Hi @abtreece, just following up, any updates on this?

[2021-09-02 19:28] yzhan289 commented on #803
Seems like this issue was resolved with https://github.com/DataDog/integrations-extras/pull/817, closing this issue.

[2021-09-02 19:28] #803 closed

[2021-09-02 19:33] yzhan289 commented on #188
Pinging @davidfauth, any updates for this?

[2021-09-07 23:44] ioquatix commented on #969
Thanks @plasticine we have reviewed the metrics and I think this is sufficient for our use case. We had to do a bit of work to get the actual "thread utilization" but it does indeed seem like it's working:

![image](https://user-images.githubusercontent.com/30030/132423824-b7976519-e9a5-4bb0-9944-06fc8bbcfb4f.png)

Are you confident that this is reporting the correct data?

[2021-09-09 01:45] abtreece commented on #815
@yzhan289 I'm not sure what else is needed. My last note indicated it hadn't failed in the previous two runs. I took another cursory look and the Riak MDC test continue to pass...

https://dev.azure.com/datadoghq/integrations-extras/_build/results?buildId=74303&view=results
https://dev.azure.com/datadoghq/integrations-extras/_build/results?buildId=74302&view=results

[2021-09-10 11:27] arapulido commented on #815
I think we can close and reopen if this comes up again

[2021-09-10 11:27] #815 closed

[2021-09-18 23:21] Quaternioneer opened #998 "Install failed"
**Output of the [installation attempt](https://app.datadoghq.com/account/settings#integrations/pihole)**

[code]

Raspberry Pi 3 B
Ubuntu 20.04 LTS

**Steps to reproduce the issue:**
1. Install Datadog agent
2.Run `sudo -u dd-agent -- datadog-agent integration install -t datadog-pihole==1.0.0`

It looks like I have the wrong version number for datadog-pihole, but I can't find a version number anyw

[2021-09-20 09:35] FlorianVeaux commented on #998
Hey @Quaternioneer
For some reason the only available version of this integration is [3.14.1](https://github.com/DataDog/integrations-extras/releases/tag/pihole-3.14.1) so you should be able to install the integration with:
`sudo -u dd-agent -- datadog-agent integration install -t datadog-pihole==3.14.1`

Unfortunately the version does not appear in the [Changelog](https://github.com/DataDog/integ

[2021-09-20 14:12] #998 closed

[2021-10-13 19:19] albertrdixon opened #1030 "Collect clock_time_seconds metric from cert-manager"
cert-manager v1.5+ exposes a `clock_time` metric which reports the current seconds since the Unix Epoch
See: https://github.com/jetstack/cert-manager/pull/4105

It would be useful to collect this metric in DataDog so we can alert on seconds until a given certificate expires

[2021-10-19 08:05] #1030 closed

[2021-10-22 19:30] lognarly opened #1051 "init_config feature request for community ping integration"
Would it be possible to add an init_config block for the ping integration? Thinking for the collect_response_time, timeout, etc so it doesn't have to be defined per instance block.

[2021-11-03 21:45] nodesocket opened #1066 "[traefik] how to configure values"
Using the Traefik integration in a Kubernetes cluster and installing the DataDog agent via Helm. Thus, don't have an easy way to modify the configuration file for the Traefik integration.

https://github.com/DataDog/integrations-extras/blob/master/traefik/datadog_checks/traefik/traefik.py#L12

Can you provide guidance on how to modify the `host` and `port` values then if I don't have access to the

[2021-11-05 12:38] hithwen commented on #1066
Hallo, if you need assistance setting up your agent please contact datadog support https://www.datadoghq.com/support/

[2021-11-05 12:38] #1066 closed

[2021-11-12 16:32] letzya opened #1074 "Tyk's Tile on DD dashboard is not showing up"
Hi,
Tyk's PR has been merged to this repo and now is visible on the DD's [website](https://docs.datadoghq.com/integrations/tyk/#pagetitle).
My question is why can't I see it also under `integration` in DD dashboard?

[2021-11-12 20:40] yzhan289 commented on #1074
Hi @letzya , apologies for the delay. We are working on syncing Tyk in DD app. There was an issue in your `manifest.json` file with `author`. You have that field as a string, but it should be a dictionary, see here for an example: https://github.com/DataDog/integrations-extras/blob/master/rookout/manifest.json#L37-L41. Another option is just to remove the field, since it is an optional field for V

[2021-11-23 15:30] srisgajare opened #1084 "Ping integration issues"
I am unable to use the ping integration sucessfully to monitor my hosts
**Output of the [info page](https://docs.datadoghq.com/integrations/ping/)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
I am running the agent on Ubuntu 18.04 VM

**Steps to reproduce the issue:**
1. Built the integration for the docker container using the following steps in the [link]

[2021-12-01 15:32] srisgajare commented on #1084
Can I get any update on this issue?

[2021-12-06 20:14] yzhan289 commented on #1074
Hi @letzya , we have merged and applied the changes from the PR. Can you check your Datadog again to verify that Tyk is showing up? To see the Tyk dashboard, you will need to first install the Tyk tile under the `Integrations` tab.
![image](https://user-images.githubusercontent.com/31313038/144915720-f718d2b8-1422-48d3-8e0d-7cbc03808f12.png)

[2021-12-07 14:22] andrescolodrero opened #1098 "Install error of redis-sentinel"
Hi,
m having an error during install.. not sure if due to proxy problems

datadog-agent integration install -t datadog-redis_sentinel==1.1.0 --allow-root

is there a way to add proxy settings or manual install?

Traceback (most recent call last):
  File "/opt/datadog-agent/embedded/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/opt

[2021-12-07 20:56] andrescolodrero commented on #1098
Fixed by adding proxy settings to Datadog.yaml

[2021-12-07 20:56] #1098 closed

[2021-12-08 22:21] letzya commented on #1074
@yzhan289 thanks for reaching out. I have checked and it's showing.
Can i please ask why only part of the logo is showing up when I open the integration ?

The logo it in  [/tyk/images/tyk_logo_no_bg.png](https://github.com/DataDog/integrations-extras/blob/master/tyk/images/tyk_logo_no_bg.png)

<img width="990" alt="image" src="https://user-images.githubusercontent.com/3155222/145293661-5f9fb4cb-e

[2021-12-09 14:39] yzhan289 commented on #1074
Hi @letzya , that is intentional. I believe our design team removes the name in the logo when you open the integration. This is the case for our other integrations as well:
![image](https://user-images.githubusercontent.com/31313038/145416626-e0bd5791-c619-4ca2-aa78-7d9c8188e059.png)
![image](https://user-images.githubusercontent.com/31313038/145416652-6657cf7d-0a43-4c2e-b73e-b008d02deff7.png)

[2021-12-13 19:41] letzya commented on #1074
ok so can I put another image, like this one?
![Tyk_mascot](https://user-images.githubusercontent.com/3155222/145877150-063aa3ce-16d2-495a-87f7-0a7218803af5.png)

[2021-12-14 14:31] yzhan289 commented on #1074
@letzya We will check with our design team and get back to you on that!

[2021-12-14 21:14] ChristineTChen commented on #1074
Hi @letzya !

I'm taking over this issue from @yzhan289.

Can you provide the same image in SVG format?

[2021-12-15 16:44] letzya commented on #1074
Is this one okay? [mascot-painted-vector_logo.svg.zip](https://github.com/DataDog/integrations-extras/files/7721209/mascot-painted-vector_logo.svg.zip)

[2021-12-15 20:11] ChristineTChen commented on #1074
Can you include this in the  tyk/image directory? https://github.com/DataDog/integrations-extras/tree/master/tyk/images. you can open a PR

[2021-12-17 19:00] letzya commented on #1074
@ChristineTChen I just added the image https://github.com/DataDog/integrations-extras/pull/1108

[2021-12-17 19:05] #1074 closed

[2021-12-20 13:12] letzya commented on #1074
@ChristineTChen Hi, thanks for merging.
Now that it's merged, when should I expect to see the update? (I'm not really clear how does this actually works). Thanks :)

[2021-12-20 20:09] ChristineTChen commented on #1074
Hi @letzya

Our design team has updated the logo and it's currently updated on our staging. It should be visible from our org by EOD.
<img width="909" alt="Screen Shot 2021-12-20 at 3 08 22 PM" src="https://user-images.githubusercontent.com/15065007/146826582-fcb3801d-840b-427d-9f66-35b6d8c6b57c.png">

[2021-12-21 14:10] letzya commented on #1074
@ChristineTChen thanks. I still can't see it. Will give it another day. thanks

[2021-12-29 21:14] rodalli opened #1113 "NS1 Integration fails to load when run in datadog/agent container"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

Running in a standalone pod (non-DaemonSet) on an AWS EKS worker node. Worker nodes are running on Amazon Linux 2 kernel version `5.4.156-83.273.amzn2.x86_64`, using the `containerd://1.4.6` container runtime.

**

[2021-12-29 23:24] rodalli commented on #1113
Mentioning folks who have recently worked on this particular integration, as otherwise I have no idea if anyone will ever see this. :)

@rsetse-daitan
@cleosson-daitan

[2022-01-25 15:00] yzhan289 commented on #936
Closing issue since PR was merged. Feel free to reopen if there are further issues!

[2022-01-25 15:00] #936 closed

[2022-01-25 19:52] rlee4advancelocal opened #1134 "NS1 Integration does not recognize NS1's API limits and therefore does not work for large zone and record lists"
[code]

**Steps to reproduce the issue:**
1. Have a large number of zones & records
2. Let agent run and max out NS1 API queries
3. Agent will fail the lookup and continue to meet additional failures via API query limit

**Describe the results you received:**
When testing the agent against our org's zone list, we found that the module does not have a way to:
1) Control the rate of API queries made

[2022-02-02 09:50] hithwen commented on #1134
Pinging @dblagojevic-daitan as integration maintainer

[2022-02-07 16:19] McSim85 opened #1141 "[gnatsd] No connection adapters were found"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
Linux Ubuntu

**Steps to reproduce the issue:**
`datadog-agent check gnatsd`

with default config
[code]

**Describe the results you received:**
The errors above

**Describe the results you expected:**
Successful c

[2022-02-09 14:45] #1141 closed

[2022-02-14 21:39] fanny-jiang commented on #1113
Hi @rodalli, thanks for reporting this issue.

Re this step:

Did you run the `agent integration install` command inside the agent container or did you build an updated image of the datadog-agent with the integration installed? The recommended method to install an integration from the `integrations-extras` repo in a containerized environment is to build a new version of the agent. See the `Docker`

[2022-02-15 19:52] rodalli commented on #1113
@fanny-jiang Forgot I had opened this issue - yes, I was trying to run the command inside the container before I noticed the recommendation to build a new image. I was able to get it working with the new image build. I'm not sure why this is necessary, maybe something to do with permissions for the datadog user.

I really don't like the operational overhead of having to manage the additional opera

[2022-02-15 19:53] #1113 closed

[2022-02-16 14:25] dd-tdimnet opened #1201 "asdasdasd"
this is a test

[2022-02-16 15:33] #1201 closed

[2022-02-22 20:18] dmpduran opened #1213 "Neo4j - Integration MetricTransformer error"
Environment

    Neo4j version : 4.3.9
    Datadog Agent version : 7
    Neo4j integration version : 2.0.0

/etc/datadog-agent/conf.d/neo4j.d/conf.yaml file content

    instances:
      - openmetrics_endpoint: http://localhost:2004/metrics
        neo4j_version: '4.3.9'
        neo4j_dbs: [neo4j]

Error executing the command "datadog-agent check neo4j"

    neo4j (2.0.0)
    -------------
      I

[2022-02-23 14:45] yzhan289 commented on #1213
Pinging neo4j maintainer @davidfauth.

[2022-02-23 15:37] dmpduran commented on #1213
Hi @yzhan289

Thanks for your message.

For the current Datadog version, which Neo4j integration I need to use?

The objective is to work with Neo4j 4.3.9 version with different database name.

Thanks in advance!

[2022-02-23 20:55] yzhan289 commented on #1213
Hi @dmpduran, it looks like Neo4j 4.x is supported starting on integration version 2.0.0: https://github.com/DataDog/integrations-extras/pull/944. This means if you have Neo4j version 4.3.9, the current 1.x version of the integration will not work properly.

[2022-02-23 22:00] dmpduran commented on #1213
Hi @yzhan289,

Will not be possible. We need to use another solution in the meantime.

Thanks for the quick support! 👍

[2022-02-24 14:30] yzhan289 commented on #1213
No problem. I'll close this ticket for now, but 7.34 should be released fairly soon. Thank you for your patience!

[2022-02-24 14:30] #1213 closed

[2022-02-24 14:31] yzhan289 commented on #969
Pinging @plasticine for response.

[2022-02-24 14:34] yzhan289 commented on #767
Hi @davidlrosenblum, support for Neo4j 4.x has been added: https://github.com/DataDog/integrations-extras/pull/944. This will require Agent 7.34 to work, which will be released within a few weeks.

[2022-02-24 14:34] #767 closed

[2022-02-24 14:50] yzhan289 commented on #188
Hi @dmitrievav, support for Neo4j 4.x has been released with integration version 2.0.0: https://github.com/DataDog/integrations-extras/pull/944. This will require Agent 7.34, which will be released within the next few weeks. Can you try updating to 2.0.0 once it is out? That may resolve your issues. I will close the Github issue in the meantime, but feel free to reopen if this is still an issue.

[2022-02-24 14:50] #188 closed

[2022-03-01 03:35] Bing-Violet opened #1220 "Where to get puma control token when configuring Puma plugin with control url"
**Context:**

I'm configuring puma integration with the config file from this repo. Regarding the [control url](https://github.com/DataDog/integrations-extras/blob/master/puma/datadog_checks/puma/data/conf.yaml.example), I left the line as `control_url: ‘%%host%%:%%port_puma%%/stats?token=%%env_puma_control_token%%’`, it didn't work so I suspect that we need to pass in the values of host, port_pum

[2022-03-02 19:00] sarah-witt commented on #1220
Hello, I'm pinging @plasticine as the integration maintainer to take a look

[2022-03-02 22:45] plasticine commented on #1220
Hey there @Bing-Violet 👋

The control token is configured when starting Puma itself (as documented here https://github.com/puma/puma#controlstatus-server), and should then be passed back to the datadog agent via a [Autodiscovery Template Variable](https://docs.datadoghq.com/agent/guide/template_variables/) `%%env_puma_control_token%%` as above.

Hope that helps

[2022-03-03 00:01] Bing-Violet commented on #1220
Thank you plasticine, that's really helpful.

[2022-03-03 00:01] #1220 closed

[2022-03-04 23:36] plasticine commented on #969
@ioquatix Yep.

[2022-03-06 06:55] #969 closed

[2022-04-25 21:09] makrauz opened #1284 "Aqua integration error: Failed to get Aqua token, skipping check"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

===============
Agent (v7.32.2)
===============

  Status date: 2022-04-25 20:31:50.601 UTC (1650918710601)
  Agent start: 2022-04-25 19:25:15.476 UTC (1650914715476)
  Pid: 1
  Go Version: go1.16.7
  Python Version: 3.8.11
  Build arch: amd64
  Agent flavor: agent
  Check Runners: 4
  Log Level:

[2022-04-26 12:47] hithwen commented on #1284
Hallo @makrauz can you please [contact support](https://www.datadoghq.com/support/) about this issue?

[2022-04-26 12:47] #1284 closed

[2022-04-26 13:21] makrauz opened #1286 "Please add support for self signed certificates in Aqua integration (ssl_verify: false)"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
Datadog agent with Aqua integration enabled in AKS
The cluster is hosting Aqua agent and Istio

Yaml config:

aqua.yaml: |-
  cluster_check: true
  init_config:
  instances:
    - url: https://aqua-web.dev.domain.c

[2022-04-27 09:47] hithwen commented on #1286
Hallo, can you [contact support](https://www.datadoghq.com/support/) about this issue?

[2022-05-02 12:59] sparkingdark opened #1292 "docker build failed in step 14 copying the requirements.in"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
- pop os 22.04

**Describe the results you received:**
It is failing in step 14 while copying the requirements.in.

**Dockerfile**
[code]

[2022-05-03 16:27] yzhan289 commented on #1134
Closing this ticket since the PR was merged.

[2022-05-03 16:27] #1134 closed

[2022-05-03 21:42] yzhan289 commented on #1292
Hi 👋 , looks like when https://github.com/DataDog/integrations-extras/pull/1172 was merged to modernize packaging for `nvml`, it removed `requirements.in`, which was used in its `tests/Dockerfile`. I've added it back in https://github.com/DataDog/integrations-extras/pull/1297

[2022-05-04 18:08] yzhan289 commented on #1292
The PR has been merged, please try the Dockerfile again. I will close this issue now, but if you have further issues you can reopen this!

[2022-05-04 18:08] #1292 closed

[2022-05-05 02:16] sparkingdark commented on #1292
Okay thanks sure i will give it a try.

[2022-05-11 14:32] aamilev94 commented on #1286
@hithwen We have exhausted options form Datadog support side. The integration does not appear to support the tls_verify parameter hence why we cannot get past the SSL Verification error.

[2022-05-18 16:56] komei4869 opened #1312 "How to use akamai_datastream_2?"
https://github.com/DataDog/integrations-extras/tree/master/akamai_datastream_2

I think I need to pass log data through pipeline, but how do I set up the parsing and other details?

[2022-05-23 11:28] komei4869 commented on #1312
※ I am using a translation tool, so there may be some strange expressions.
@nathanmadams

Thank you for creating this integration.

If you don't mind, I would like to know how to set up log analysis.

[2022-05-27 11:13] dllegru opened #1325 "lighthouse integration 2.1.0 - form_factor: desktop - runtime error"
**Output of the [info page](https://docs.datadoghq.com/integrations/lighthouse/)**

[code]

**Steps to reproduce the issue:**
Using new optional parameter `form_factor:` available in `v2.1.0` integration:
- value: `mobile` works fine.
- value: `desktop` throws following runtime error:
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**
I guess the followin

[2022-05-30 11:04] hithwen commented on #1312
Hallo, please [contact support](https://www.datadoghq.com/support/) about this issue, they'll be able to help you.

[2022-05-30 11:04] #1312 closed

[2022-05-30 11:10] hithwen commented on #1325
Hallo @baerbradford, this seems related to [your PR](https://github.com/DataDog/integrations-extras/pull/1123). Would you be able to have a look?

[2022-06-08 21:46] baerbradford commented on #1325
Hey @hithwen , I don't quite have the time to try to reproduce this and test it but I think @dllegru's suggestion about including `--no-screenEmulation.mobile` definitely looks like it is worth a shot.

The relevant place to change this would be here:

https://github.com/DataDog/integrations-extras/blob/33ebbd6d991d32b39a6e03f0b5c2dbacb6043859/lighthouse/datadog_checks/lighthouse/lighthouse.py#L37

[2022-06-13 10:08] alexbowers opened #1343 "Documentation Improvement for cert_manager"
The documentation for installing `cert_manager` for the Containerised install isn't very clear. It just leads you to the general install page. An example of the install (eg, Helm Chart) would be very helpful.

[2022-07-15 18:21] stepanhruda commented on #615
Not sure if it existed back then, but there is an API to fetch pod's tags, adding it to the nvml integration in https://github.com/DataDog/integrations-extras/pull/1370

[2022-07-19 16:03] yzhan289 commented on #1343
Pinging maintainer @arapulido.

[2022-08-11 17:46] fanny-jiang commented on #1325
Hi @dllegru, have you had a chance to try upgrading Lighthouse as @baerbradford suggested? Please let us know if upgrading resolves the issue for you.

[2022-08-29 08:04] zezaeoh opened #1517 "nvml integration 1.0.5 - error occurs when refresh tags"
**Error Log**

https://github.com/DataDog/integrations-extras/blob/master/nvml/datadog_checks/nvml/nvml.py#L222
[code]

**Additional environment details (Operating System, Cloud provider, etc):**
* eks v1.21
* datadog agent v7.38.2

**Additional information you deem important (e.g. issue happens only occasionally):**

I think this is due to incompatible k8s protobuf used by here (https://github.co

[2022-08-31 10:45] jose-manuel-almaza commented on #1517
`nvml` is a community integration. Pinging @cep21  as the maintainer

[2022-09-01 07:32] zezaeoh commented on #1517
Its my fault.. 😭

i used kubelet socket in path `/var/lib/kubelet/device-plugins/` to send grpc request
(error message above this issue is because mount host path `/var/lib/kubelet/device-plugins/` as `/var/lib/kubelet/pod-resources/` in to the pod)

everything works perfectly when i change this mount path to `/var/lib/kubelet/pod-resources/`

[2022-09-01 07:32] #1517 closed

[2022-09-08 06:24] lilyjazz opened #1526 "How long does it take for the merged PR to make it to UI?"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

7 Days after the PR merged, no updated metrics and Dashboard to the latest merged PR.
The PR is https://github.com/DataDog/integrations-extras/pull/1508

**Additional environment details (Operating System, Cloud provider, etc):**
On lastest Datadag Integration page.
Chrome, Mac M1.

**Describe the

[2022-09-08 13:30] yzhan289 commented on #1526
Hey @lilyjazz, thanks for letting us know! I've just synced this now. Please let us know if this hasn't been updated yet.

[2022-09-09 07:12] lilyjazz commented on #1526
It has been updated, thank you! @yzhan289

[2022-09-09 07:12] #1526 closed

[2022-09-20 14:21] searce-aditya opened #1542 "Nvidia NVML metrics not captured"
### I want to get **NVML** gpu metrics on datadog. I am using **GKE** version 1.23.8-gke.1900.

I have deployed datadog agent(v7.39.0) using the daemonset approach as per the datadog agent documentation. When I run **agent status** command I am able to get only 6 nvml metrics (i.e: nvml.power_usage, nvml.total_energy_consumption, nvml.pcie_tx_throughput, nvml.pcie_rx_throughput, nvml.temperature,

[2022-09-22 18:56] cep21 commented on #1542
I don't have a lot of help here: I use AWS.  I wonder if it needs some kind of elevated permissions in GCP?  "Not supported" is expected with NVML since not all features will be usable.  It's also possible you'll need to call another NVML endpoint to get what you want.

[2022-09-23 14:55] tuan-nguyen-ts commented on #1084
@jstanton617 I'm having this issue, too.

[2022-09-26 03:40] searce-aditya commented on #1542
@cep21 We are currently using multi-instance GPU i.e **Nvidia A-100** which provides multiple slices/partitions of gpus on a single machine, the error posted above is occuring on Nvidia A-100 nodes only. However when I tried deploying the same datadog & nvml configuration on a normal GPU node i.e Nvidia T4 it is working perfectly all nvml metrics are visible.

Can you share some information on thi

[2022-09-27 13:21] JeanFred commented on #915
This should be reopened, as this was about adding support for Filebeat > 7.x (not about a workaround).

I have submitted a PR at https://github.com/DataDog/integrations-extras/pull/1550

[2022-09-27 14:02] yzhan289 commented on #915
Ah gotcha, I'll reopen this and close it once your PR is merged.

[2022-10-03 18:38] yzhan289 commented on #1084
@tuan-nguyen-ts @srisgajare Can you try installing the `ping` binary on the host? I was able to replicate this issue on a Ubuntu test container, and running `apt-get install iputils-ping` resolved my issue. The ping integration basically just tries to run the `ping` command, although the ping binary is not included by default. I've made a [PR updating the README](https://github.com/DataDog/integra

[2022-10-05 15:03] gerardm76 opened #1559 "lighthouse python error when starting integration"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
aws, amazon linux 2 os.

**Steps to reproduce the issue:**
1.  installed datadog agent
2. installed node v16.17.1, npm 8.15.0
3. npm install -g lighthouse
4. sudo yum install -y chromium
5. installed integration -

[2022-10-07 13:32] searce-aditya commented on #1542
Hello, It seems NVML integration with Datadog has some limitation using Nvidia A100 GPUs on GKE.

I resolved this issue by using DCGM-exporter to expose the GPU metrics( Refer to this link for DCGM installation guide: https://docs.nvidia.com/datacenter/cloud-native/gpu-telemetry/dcgm-exporter.html#setting-up-prometheus )and then send it to Datadog through openmetrics annotations, made the followin

[2022-10-07 13:34] #1542 closed

[2022-10-12 07:35] tuan-nguyen-ts commented on #1084
Thank you @yzhan289 , installing ping binary fixed the issue. Now it's working as expected.

[2022-10-12 20:45] yzhan289 commented on #1084
@tuan-nguyen-ts Glad to hear! I'll close this ticket for now, but if @srisgajare your issue is not solved by installing the `ping` binary, please feel free to reopen the issue.

[2022-10-12 20:45] #1084 closed

[2022-10-14 06:46] zenbeam opened #1570 "Zenduty integration listing not loading README.md"
The recently [merged](https://github.com/DataDog/integrations-extras/pull/1552) Zenduty [integration tile](https://docs.datadoghq.com/integrations/zenduty/) is not loading the README.md correctly and is completely blank.

[2022-10-18 07:06] zenbeam commented on #1570
@yzhan289 Any clues on why this could be happening?

[2022-10-18 16:25] #1570 closed

[2022-10-20 14:20] alopezz commented on #1559
@ericmustin, you are listed as maintainer for the lighthouse integration; could you please have a look?

[2022-10-20 14:35] ericmustin commented on #1559
Hey @alopezz , so I don't work at datadog anymore and have no real bandwidth to maintain this. That being said offhand it looks like the error `JSONDecodeError('Expecting value: line 1 column 1 (char 0)')` means that the subprocess that runs the lighthouse report is returning an empty response. Could be a million reasons why, I haven't been following along with what lighthouse does or what sort've

[2022-10-20 14:44] gerardm76 commented on #1559
Hey @alopezz and @ericmustin I went to datadog first and they directed me here.  We were able to finally get it running but I think the main issue was that the dd-agent could not run the lighthouse command.

[2022-10-20 14:48] ericmustin commented on #1559
@gerardm76 gotcha, alright lemme reach out to some folks there and see if they can't get someone else to take over ownership of this.

[2022-10-20 16:56] mailuminatti commented on #1559
Hey @gerardm76 et all - I had to do some heavy troubleshooting to solve this, as I was in a very similar situation.
I'd recommend you switch to an ubuntu based instance as it makes it easy (at least for me) to troubleshoot.
Once you have it running:
[code]

Once you are done, you should be able to succesfully run
`sudo -u dd-agent lighthouse "https://www.google.ca" --output json --quiet --chrome-f

[2022-10-20 17:18] gerardm76 commented on #1559
@mailuminatti Thanks so much.  We were about to do that right before we got it working with amazon linux but I think Ubuntu is probably the better choice for this.  Thanks again

[2022-10-20 17:25] mailuminatti commented on #1559
@gerardm76 happy to hear that you got it working! It would probably worth to describe what you did to have it working, so the folks from Datadog can have the documentation updated/corrected

[2022-10-22 10:12] naa0yama opened #1579 "zabbix integration 1.1.0 - Metric: 'zabbix.checksum' has non float value:"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**

**Steps to reproduce the issue:**

Similar to #1519

**Describe the results you received:**

Metric: 'zabbix.checksum' has non float value

**Describe the results you expected:**

Please update your integration ve

[2022-10-28 16:38] blamo-b opened #1585 "tag setting / getting in nvml check"
It seems like there’s a mismatch in the key used to set / get tags in the `known_tags` dict of the nvml integration.

For getting tags, the uuid of the device -- something like `GPU-b922e333-3cd2-3fed-b455-449a8718a546` -- is used as the key.
https://github.com/DataDog/integrations-extras/blob/master/nvml/datadog_checks/nvml/nvml.py#L115
https://github.com/DataDog/integrations-extras/blob/master/n

[2022-10-31 09:16] Akkowicz opened #1586 "Redis sentinel integration needs an update because of removed SLAVES command"
**Output of the [info page](https://docs.datadoghq.com/agent/guide/agent-commands/#service-status)**

[code]

**Additional environment details (Operating System, Cloud provider, etc):**
Ubuntu 20.04.5 LTS, dedicated server, Redis 7.0.0 + redis stack installed

**Steps to reproduce the issue:**
1. Install redis_sentinel integration, version 1.1.0
2. Configure it for your redis sentinel
3. It fails

[2022-10-31 15:17] FlorentClarret commented on #1586
Hi, thanks for opening this issue. Pinging @krasnoukhov as maintainer of the Redis Sentinel integration.

[2022-10-31 16:28] alopezz commented on #1559
I'm closing this as @gerardm76 has reported that they got this to work. I'd be happy to review a doc update if that might help other users of this integration.

If that's the case, I'll remove you from the CODEOWNERS entry to make that clear.

[2022-10-31 16:28] #1559 closed

[2022-10-31 17:55] krasnoukhov commented on #1586
Unfortunately we don't use this integration any longer (moved to ElastiCache). Any chance someone else would be interested in taking over?

[2022-10-31 18:41] ericmustin commented on #1559
@alopezz ty alex. i am pretty sure it is the case. cheers!

[2022-11-02 09:57] FlorentClarret commented on #1586
I understand. I opened [a PR](https://github.com/DataDog/integrations-extras/pull/1589) to update the codeowners accordingly.

@Akkowicz We will _try_ to take a look at the issue but I can't tell you when exactly

[2022-11-02 10:49] FlorentClarret commented on #1585
Hi! Thanks for opening this issue.

Pinging @cep21  as maintainer of the nvml integration.

[2022-11-04 10:15] #915 closed

[2022-11-08 08:49] #1579 closed

[2022-11-16 09:39] FlorentClarret commented on #1343
Hi @alexbowers ! thanks for opening this issue! The `cert_manager` integration is now an officiel Datadog integrations. It has been moved to [integrations-core](https://github.com/DataDog/integrations-core/tree/master/cert_manager) and is now shipped with the Datadog agent.

Would you mind opening an issue in [integrations-core](https://github.com/DataDog/integrations-core)? Also, pinging @davidor